RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /my_flask_app/wsgi.py/$1 [QSA,PT,L]

# Ensure the WSGI script is executable
<Files wsgi.py>
    Order allow,deny
    Allow from all
</Files>