<!-- Citation for customers.j2: -->
<!-- Date: 3/1/2024 -->
<!-- Adapted from templates/people.j2 in bsg_people_app from CS340 Flask Starter App -->
<!-- Source: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2 -->


<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cohesion Fitness</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="/static/main.css">
</head>
<body>
    
    <div class = "pageHeader">
        <img src= "/static/images/CF_Logo_Blue.jpeg" width="350" height ="300" alt = "Cohesion Fitness Company logo" class="picPosition"/>
        <h1> Cohesion Fitness Gym Management System </h1>
    </div>

    <div id="Navigation">
        <nav>
            <a href="/">Home</a>
            <a href="/customers">Customers</a>
            <a href="/trainers"> Trainers</a>
            <a href="/memberships"> Memberships</a>
            <a href="/classes"> Classes</a>
            <a href="/gyms"> Gyms</a>
            <a href="/customerclasses" > Customer Classes</a>
            
        </nav>
    </div>



    <section>
        <h2 class = "headerTop">Customers</h2>

        <table class="mainTable">

            <tr>
                <td>customerID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>email</td>
                <td>Phone</td>
                <td>Membership Tier</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>

            
            <!-- This goes through the data that was passed in by the app.py and appends each item to a row -->
            <!-- The buttons link to the edit customer page route with the customerID passed in -->

            {% for customer in customers %}
            <tr>
                <td> {{customer.customerID}}</td>
                <td> {{customer.firstName}}</td>
                <td> {{customer.lastName}}</td>
                <td> {{customer.email}}</td>
                <td> {{customer.phone}}</td>
                <td> {{customer.tier}}</td>
                <td><button><a href="edit_customer/{{customer.customerID}}">Edit</a></button></td>
                <td><button onclick = "return confirm('Are you sure you want to delete?')" ><a href="delete_customer/{{customer.customerID}}">Delete</a></button></td>
            </tr>
            {% endfor %}



        </table>

    </section>

 
    <section>

        
        <div>
            
            <h2>Add Customer</h2>
            <form action = "/customers" method = "POST">
                

                <label for = "firstName"> First Name</label>
                <input 
                    id = "firstName" 
                    type = "text" 
                    name ="firstName">
                <br>

                <label for = "lastName"> Last Name</label>
                <input 
                    id = "lastName" 
                    type = "text" 
                    name ="lastName">
                <br>


                <label for = "email"> E-mail</label>
                <input 
                    id = "email"
                    type = "text"
                    name ="email">
                <br>


                <label for = "phone"> Phone Number</label>
                <input 
                    id = "phone"
                    type = "text"
                    name ="phone">
                <br>

                <label for = "membership"> Membership</label>


                <select class="form-control" id="tier" name="tier" required>
                    <!--tier_data is a tuple of dictionaries. Each dictionary is a key:value pair of each tier 
                        Looks like  
                        tier_data = ({'tier': 'Platinum'}, {'tier': 'Platinum'}, {'tier': 'Platinum'}, {'tier': 'Super Gold'}, {'tier': 'Super Gold'})
                    -->

                    <!-- Data is all the information for the particular ID the user selected
                    Looks like: (Assuming the user selected memID 15) 
                        data = ({'memID': 15, 'tier': 'Super Gold', 'length': 20, 'cost': Decimal('130.00')},)-->

                    <!-- data only has one element so data[0] is that element-->
        
                    <!--tier["tier"] gets the value associated with the key "tier" in the dictionary "tier"-->
                    <!--Now a loop look goes through each dictionary and compares it to the membership information the user picked  -->
                    <!--This autopopulates the drop down menu -->

                    {% for item in data %}
                        <option value = "{{ item['memID'] }}"> {{ item['tier'] }}</option>
                    {% endfor %}

                </select>

                <br>
                <br>

            
                <input type="submit" value="Create" name = "Add Customer">


            </form>
        </div>

    </section>  


</body>
</html>