<html>

<head>
  <title>Edit Student</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing User: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data in bsg_student-->
            <form id="editStudent" action="/edit_student/{{data[0].studentID}}" method="post">
                <legend><strong>Edit Student</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of student to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the student we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].studentID}}" class="form-control" id="studentID" name="studentID" required>
                    <label for="make">First Name:</label>

                    <input type="text" value="{{data[0].firstName}}" class="form-control" id="firstName" name="firstName" pattern="[A-Za-z]{1,}" required>
                    <label for="model">Last Name:</label>

                    <input type="text" value="{{data[0].lastName}}" class="form-control" id="lastName" name="lastName" pattern="[A-Za-z0-9]{1,}" required>
                    <label for="year">Student Email:</label>

                    <input type="text" value="{{data[0].studentEmail}}" class="form-control" id="studentEmail" name="studentEmail" pattern="[A-Za-z0-9]{1,}" required>
                    <label for="year">Student Major:</label>


                    <select class="form-control" id="studentMajor" name="studentMajor" pattern="[0-4]{1}" placeholder="" required> 
                        <!-- Access our studentMajor tuple passed from app.py-->
                        <option value="0">&nbsp;</option>
                        {% for studentMajor in studentMajors %}
                                <!-- If the value iterated studentMajor matches the value of the studentMajor of student currently Editing, pre-select that option -->
                                {% if studentMajor['studentID'] == data[0].studentMajor %}
                                    <option value="{{ studentMajor['studentID'] }}" selected> {{studentMajor['studentMajor']}}</option>
                                {% else %}
                                    <option value="{{ studentMajor['studentID'] }}"> {{studentMajor['studentMajor']}}</option> 
                                {% endif %}


                        <!-- End of this for loop -->
                        {% endfor %} 
                    </select> 
                        
                    <label for="color">enrollmentYear:</label>
                    <input type="text" value="{{data[0].enrollmentYear}}" class="form-control" id="enrollmentYear" name="enrollmentYear" pattern="[A-Za-z0-9]{1,}"> 
                
                </fieldset>
                <input type="submit" value="Edit Student" name="Edit_Student" class="btn btn-primary" style="margin:.5rem;">
                <a href='/student'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>