<!-- Citation for edit_trainers.j2: -->
<!-- Date: 3/1/2024 -->
<!-- Adapted from templates/people.j2 in bsg_people_app from CS340 Flask Starter App -->
<!-- Source: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2 -->


<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cohesion Fitness</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="/static/main.css">
</head>
<body>
    
    <div class = "pageHeader">
        <img src= "/static/images/CF_Logo_Blue.jpeg" width="350" height ="300" alt = "Cohesion Fitness Company logo" class="picPosition"/>
        <h1> Cohesion Fitness Gym Management System </h1>
    </div>

    <div id="Navigation">
        <nav>
            <a href="/">Home</a>
            <a href="/customers">Customers</a>
            <a href="/trainers"> Trainers</a>
            <a href="/memberships"> Memberships</a>
            <a href="/classes"> Classes</a>
            <a href="/gyms"> Gyms</a>
            <a href="/customerclasses" > Customer Classes</a>
            
        </nav>
    </div>


    <section>
        <h2 class = "headerTop">Trainers</h2>

        <table class="mainTable"> 
            <caption> Editing Trainer: </caption>

            {% if trainer_data %}
                <thead>
                    <td>Trainer ID</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Specialist</td>
                    <td>Level</td>
                    <td>Gym ID</td>
                    
            <!-- The following table (47-58) is populated using code from the starter flask app that is cited at the top -->
                <tbody>
                    <!-- loop through every item in customer_data -->
                    {% for item in trainer_data %}
                    <tr>
                        <!-- Loop through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- make a new <td> based on the item key value -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>


    </section>




    <section>

        <div>
            <h2>Update Trainer</h2>
            <form id = "editTrainer" action = "/edit_trainer/{{trainer_data[0].trainerID}}" method = "POST">

                <!--This creates a hidden form input to store the passed trainerID of the trainer we are editing-->
                <input type = "hidden" value="{{trainer_data[0].trainerID}}" class="form-control" id = "trainerID"  name = "trainerID" required>

                <!-- The values are all preset to what they were in the table -->
                <label for = "firstName"> First Name</label>
                <input 
                    id = "firstName" 
                    type = "text" 
                    value = "{{trainer_data[0].firstName}}"
                    name ="firstName">
                <br>


                <label for = "lastName"> Last Name</label>
                <input 
                    id = "lastName" 
                    type = "text" 
                    value = "{{trainer_data[0].lastName}}"
                    name ="lastName">
                <br>


                <label for = "specialist"> Specialist</label>
                <input 
                    id = "specialist"
                    type = "text"
                    value = "{{trainer_data[0].specialistType}}"
                    name ="specialist">

                <br>

                <!-- This iterates through each level in the levels dataset that was passed in via app.py
                It then appends each level as an option -->
                <label for = "level"> Level</label>
                <select id="level" name="level">
                
                {% for level in levels %}
                    {% if trainer_data[0]["level"] == level %}
                        <option value = "{{level}}" selected> {{level}} </option>
                    {% else %}
                        <option value = "{{level}}">{{level}} </option>
                    {% endif %}
                {% endfor %}
            
                </select>
                <br>    
                

                <!-- This block of code iterates over each gym in the gym dataset and finds the one that matches the selected gym
                It then selects that option and shows the other gyms as options -->
                <label for = "gymID"> Gym ID</label>
                <select id="gymID" name="gymID">
                
                   {% for gym in gyms %}
                        {% if trainer_data[0]["gymID"] == gym["gymID"] %}
                           <option value = "{{gym['gymID']}}" selected> {{gym['gymID']}}</option>
                        {% else %}
                            <option value = "{{gym['gymID']}}"> {{gym['gymID']}}</option>
                        {% endif %}
                    {% endfor %}
                    
                </select>

                <br>
                <br>
            

                <input type="submit" value="Update Trainer" name = "Update Trainer">
                <a href='/trainers'><input type="button" value="Cancel"></a>


            </form>
        </div>

    </section>  


</body>
</html>